
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



body {
  margin: 0;
  padding: 0;

}

h1 {
  font-weight: 700;
  text-shadow: 1px 1px 2px 1px black;
  padding: 15px;
  width: 400px;
}
h2,
h3,
h4 {
  color: rgba(0, 0, 0, 0.4);
  font-weight: 500;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border-color: white;
  border-radius: 10px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px 40px;
  color: rgba(0, 0, 0, 0.5);
  font-size: larger;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  flex-direction: column;
  

}

.card-phrases{
  background-color: white;
  box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.476);
  max-width: 400px;
  padding: 60px;
  margin: 30px;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;




  

}


@media screen and (min-width: 576px) {
  .card-phrases{
    max-width: 700px;
  }
}
